html {
  scroll-behavior: smooth;
}
body {
  background-color: #FFFFFF;
  font-family: sans-serif;
  margin: 0;
}
img{
  display: block;
  max-width: 100%;
}
nav ul{
  list-style: none;
  margin-block: 0;
  padding-left: 0;
}