@use '../mixins/responsive.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.section_new{

    margin-bottom: 95px; 
    text-align: center;

    @include responsive(1024px){
      position: relative;
      text-align: left;
      width: 80%;
      margin-inline: auto;
      
      

      }   
 
.img{
    width: 100%;
    margin-bottom: 48px;
    margin-inline: auto;
    @include responsive(1024px){
      width: 70%;
      margin-bottom: 164px;
      margin-left: 0px;

    }  
  }
  &_text{
    width: 279px;
    margin-inline:auto;
    @include responsive(1024px){
      position: absolute;
     bottom: 0;
     right: 100px;

      width: 541px;
      height: 317px;
      background-color: #fff;
      padding-bottom: 0px;

    }  
    .title{
        font-family: "Josefin Sans", serif;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 200;
        @include responsive(1024px){
          font-size: 48px;
          padding-left: 96px;
    
        } 
        
    }
    
    .bodyText{
     
        font-family: "Alata", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        line-height: 25px;
        opacity: 50%;
        @include responsive(1024px){
        
          padding-left: 96px;
    
        } 

    }
  }
}